.footer {
  display: grid;
  padding: 10px;
  width: 100%;
  margin: auto;
  grid-template-rows: 60px;
  grid-template-columns: 100px 100px 100px;
  justify-content: center;
  background-image: url("../images/ft-background.jpg");
}
