footer {
  background-image: url("../images/ft-background.jpg");
}

.social {
  display: grid;
  padding: 10px;
  width: 100%;
  margin: auto;
  grid-template-rows: 20px;
  grid-template-columns: 100px 100px 100px;
  justify-content: center;
}

#copyright {
  font-size: 10pt;
  font-family: "Oswald", sans-serif;
  color: rgb(75, 72, 72);
  margin-bottom: 60px;
}

footer p {
  text-align: center;
}
