form {
  border: 2px solid darkslateblue;
  border-radius: 10px;
  padding: 40px;
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
  font-size: 12pt;
}

label {
  font-weight: bold;
}

input[type="submit"] {
  background-color: darkslateblue;
  color: white;
  font-weight: bold;
}

input[type="reset"] {
  background-color: black;
  color: white;
  font-weight: bold;
}
