<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Travel Planner</title>
</head>

<body>
  <div id="app">
    <header>
      <div class="title">Travel Planner</div>
    </header>
    <main>
      <form class="" onsubmit="return Client.handleSubmit(event)">
        <div class="holder location">
          <label for="location">Destination:</label>
          <input type="text" id="location" class="txtIn" placeholder="Enter City" />
        </div>
        <div class="holder date">
          <label for="date">Departure Date:</label>
          <input type="date" id="date" class="txtIn" placeholder="Enter Departure Date" />
        </div>
        <input type="submit" name="submit" value="SUBMIT" onclick="return Client.handleSubmit(event)"
          onsubmit="return Client.handleSubmit(event)" />
        <input type="reset" id="reset" value="RESET" />
      </form>
      <section id="trip">
        <div class="title">Trip Summary:</div>
        <div id="table"> 
          <table>
            <tr>
              <td>
                <div id="img" class="imgSize"></div>
              </td>
              <td id="inf">
                <div id="city" class="triphead"></div>
                <div id="tripDate" class="triphead"></div>
                <div id="temp" class="tripinf"></div>
                <div id="maxTemp" class="tripinf"></div>
                <div id="minTemp" class="tripinf"></div>
                <div id="precip" class="tripinf"></div>
                <div id="clear" class=""></div>
              </td>
            </tr>
          </table>
       </div> 
      </section>
    </main>
    <footer>
      <p>
        <span id="copyright">Copyright 2022 - Travel App. All Rights
          Reserved.</span>
      </p>
    </footer>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
</body>

</html>