<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <head>
    <title>Test</title>
    <link type="text/css" href="/styles/reset.css">
    <link type="text/css" href="/styles/base.css">
    <link type="text/css" href="/styles/footer.css">
    <link type="text/css" href="/styles/header.css">
    <link type="text/css" href="/styles/form.css">
  </head>

<body>
  <header>
    <div class="">Logo</div>
    <div class="">navigation</div>
  </header>

  <main>
    <section>
      <form class="" onsubmit="return handleSubmit(event)">
        <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name" />
        <input type="submit" id="submit" name="submit" value="submit" onclick="return handleSubmit(event)"
          onsubmit="return handleSubmit(event)" />
      </form>
    </section>

    <section>
      <strong>Form Results:</strong>
      <div id="results"></div>
    </section>
  </main>

  <footer>
    <p>This is a footer</p>
  </footer>
</body>

</html>