body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding-bottom: 24px;
}

footer {
  background: black;
  color: lightblue;
  font-size: 8pt;
  height: 36px;
  text-align: center;
  padding-top: 2px;
}

.page__header {
  background: black;
  height: 60px;
  padding: 20px;
}

#navbar__menu {
  color: whitesmoke;
}

#navbar__list {
  position: fixed;
  list-style-type: none;
  color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 14px; */
}

#navbar__list a {
  text-decoration: none;
  color: azure;
  font-size: 16pt;
  display: inline;
}

#project {
  background: palevioletred;
  color: black;
  padding: 20px;
}

#summary {
  background: rgb(0, 115, 255);
  color: black;
  padding: 20px;
}

#build {
  background: rgb(255, 213, 0);
  color: black;
  padding: 20px;
}

#learn {
  background: rgb(138, 166, 176);
  color: black;
  padding: 20px;
}

#scrollToTopBttn {
  display: none;
  position: fixed;
  bottom: 72px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background: black;
  color: cornsilk;
  font-size: 16px;
  padding: 20px;
  border-radius: 15px;
}

.landing__container {
  margin-left: 200px;
}

section p {
  line-height: 1.8em;
  width: 70%;
}

.active-class {
  background: rgb(241, 230, 235);
}

.active {
  background: rgb(241, 230, 235);
  color: black;
}
